.History {
	background-image: url(../images/about-history-bg.jpg);
	min-height: 52rem;
	padding: 4%;
    .Row {
      margin-bottom: auto;
    }
}
.u-lHeader {
	background-image: url(../images/about-header-bg.jpg);
	background-position-y: bottom;
}