@import "_config";

/* local */

.u-lHeader {
	background-image:url(../images/about-header-bg-2.jpg);
	background-position-y:top;
}
.Facts {
    .Row__title {
        font-size: 3em;
        border: none;
        padding: .75em 0 .15em;
        font-family: $serif;
        font-weight: $fontWeightBold;
        @extend .title-gradient;
        text-decoration:none !important;
    }
    dd.Module__desc {
        font-weight: $fontWeightBold;
    }
}
.RowContainer.Facts {
    margin-bottom: 2em;
    .Row__title {
        text-align: center;
    }
    .Module__title {
        font-family: $sans-serif;
        font-size: .8em !important;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: $fontWeightBold;
    }
}
@media screen {
	.History {
		min-height: 29em;
        margin-bottom: 2em;
        .Row {
            margin-top: auto;
        }
        .Row__title {
            color: #fff;
        }
    }
}
@media screen and (min-width: $medium) {
}
.History {
	background-image:url(../images/about-history-bg.jpg);
    background-position-x: 15%;
    background-position-y: top;	
    padding-bottom:1em !important;
}
.RowContainer.AcademicResponsibilityRespectPersons {
    margin-top: 3em !important;
}
.AcademicResponsibilityRespectPersons {
    padding: 2em 5%;
    min-height: 29em;
    .Row__title {
        color: #fff;
        margin-bottom: 20%;
    }
    background: $gray-dark url(../../assets/images/0460_Vassar-College_exteriors-+-campus-life_Oct-2019_JA.jpg) no-repeat center;
    background-size: cover;
}